@charset "utf-8";
/* CSS Document */

.header{
	height:90px;
	width:100%;
	background-image:url(../images/header.png);
	background-repeat:no-repeat;
	position:relative;
	z-index:6; 
}
.public-bg{
	width:942px;
	margin-left:auto;
	margin-right:auto;
	height:81px;
	background-image:url(../images/bg.png);
	background-repeat:repeat-y;
}
.header-logo{
	width:164px;
	height:106px;
	float:left;
	}
.header-search{
	width:73px;
	height:91px;
	float:right;
	margin-top: 1px;
}
.header-nav{
	width:526px;
	height:90px;
	float:right;
}
.header-nav-list{
	display:block;
	width:82px;
	color:#6c5d67;
	float:left;
	height:90px;
	line-height:90px;
	text-align:center;
	font-size:14px;
	border-top:2px solid #f4f4f4;
}

.header-nav-list:hover{
	color:#24b3a2;
	border-top:2px solid #24b3a2;
}
/* header end */

.footer{
	height:102px;
	width:100%;
	background-image:url(../images/footer-bg.png);
	background-repeat:no-repeat;
}
.footer-bg{
	width:942px;
	margin-left:auto;
	margin-right:auto;
	height:102px;
	background-image:url(../images/bg.png);
	background-repeat:repeat-y;
}
.footer-logo{
	width:34px;
	height:102px;
	line-height:102px;
	text-align:center;
	float:left;
}
.footer-font{
	width:318px;
	height:15px;
	margin-top:34px;
	margin-left:13px;
	float:left;
}
.footer-nav{
	width:266px;
	height:102px;
	float:right;
}
.footer-nav-list{
	display:block;
	width:38px;
	float:left;
	height:102px;
	line-height:102px;
	text-align:center;
}
.footer-up{
	width:60px;
	height:102px;
	position:fixed;
	right:60px;
	bottom:-44px;
	z-index:100;
}